body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 200vh;
    /* Definindo altura para permitir rolagem */
    position: relative;
}

/* Walls and layout */

.section-one {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-one .left {
    width: 100%;
    background-color: black;
    background-image: url('/imagens/RuaL.png');
    background-color: rgb(255, 255, 255,0.5);
    background-repeat: no-repeat;
    background-position: center left;
    
}

.section-one .gif-container {
    background-color: white;
    height: 100%;
    /* Center bottom */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 220px;
    background-image: url('/imagens/Calcada.png');
    background-color: rgb(255, 255, 255,0.3);
    background-repeat: no-repeat;
    background-position: center center;
}


.section-one .gif {
    position: sticky;
    bottom: 60px;
    opacity: 0;
}

.section-one .right {
    width: 100%;
    background-color: black;
    background-image: url('/imagens/RuaRperna.png');
    background-color: rgb(255, 255, 255,0.5);
    background-repeat:no-repeat;
    background-position: center right;
}

/* Section Two, horizontal scroll */

.section-two {
    height: calc(100vh * 4);
    background-color: orange;
    overflow-x: hidden;
    position: relative;
}

.section-two .horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: visible;
}

.section-two .one{
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(167, 15, 15);
    display: flex;
    flex-direction: row;
    align-self: center;
}

.section-two .two {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(10, 80, 10);
}

.section-two .three {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(151, 151, 12);
}

.section-two .four {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(11, 11, 109);
}

/* Walking */

.section-two .walking {
    position: absolute;
    bottom: 50vh;
}

/* Section three - Wall scroll */

.section-three {
    height: 5000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-three .left {
    height: 5000px;
    width: 100%;
    background-color: rgb(139, 131, 15);
}

.section-three .right {
    height: 5000px;
    width: 100%;
    background-color: rgb(139, 131, 15);
}

.section-three .gif-container {
    background-color: rgb(189, 189, 189);
    display: flex;
    /* Center bottom */
    justify-content: center;
    align-items: flex-end;
    padding: 0 40px;
    background-image: url('/imagens/Calcada2.png');
    background-color: rgb(255, 255, 255,0.5);
    background-repeat: repeat;
    background-position: center center;
}

.section-three .gif {
    position: sticky;
    bottom: 10px;
    padding: 0 220px;
}

/* Section Four */

.section-four {
    height: calc(100vh * 4);
    background-color: orange;
    overflow-x: hidden;
    position: relative;
}

.section-four .horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: visible;
}

.section-four .one {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(167, 15, 15);
    display: flex;
    flex-direction: row;
    align-self: center;
}

.section-four .two {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(10, 80, 10);
}
.section-four .three {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(151, 151, 12);
}

.section-four .four {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(11, 11, 109);
}

/* Walking */

.section-four .walking {
    position: absolute;
    bottom: 50vh;
}

/* Section five - Wall scroll */

.section-five {
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-five .gif-container {
    background-color: rgb(104, 44, 94);
    height: 100%;
    width: 100%;
    /* Center bottom */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section-five svg {
    position: absolute;
    width: 100%;
    height: 3000px;
    top: 100px;
    left: 0;
}