body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 200vh;
    /* Definindo altura para permitir rolagem */
    position: relative;
}

/* Walls and layout */

.section-one {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-one .left {
    width: 100%;
    background-image: url('/imagens/Sec1RuaL.png');
    background-color: rgb(189, 189, 189);
    background-repeat: no-repeat;
    background-position: center left;
    
}

.section-one .gif-container {
    height: 100%;
    /* Center bottom */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 220px;
    background-image: url('/imagens/Calcada.png');
    background-color: rgb(189, 189, 189);
    background-repeat: no-repeat;
    background-position: center center;
}


.section-one .gif {
    position: sticky;
    bottom: 60px;
    opacity: 0;
}

.section-one .right {
    width: 100%;
    background-image: url('/imagens/Sec1RuaR.png');
    background-color: rgb(189, 189, 189);
    background-repeat:no-repeat;
    background-position: center right;
}

/* Section Two, horizontal scroll */

.section-two {
    height: calc(100vh * 6);
    background-color: rgb(83, 83, 83);
    position: relative;
    overflow-x: hidden;
}

.section-two .horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: visible;
    position: relative;
    z-index: 0;
}

.section-two .one{
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 6;
    overflow-x: hidden;
    background-image: url('/imagens/Entrada.png');
    background-color: rgb(189, 189, 189);
    background-repeat:no-repeat;
    background-position: center right;
}

.section-two .two {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 5;
    overflow-x: hidden;
    background-image: url('/imagens/Sala.png');
    background-color: rgb(189, 189, 189);
    background-repeat:no-repeat;
    background-position: center right;
}

.section-two .three {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 4;
    overflow-x: hidden;
    background-image: url('/imagens/Cozinha.png');
    background-color: rgb(189, 189, 189);
    background-repeat:no-repeat;
    background-position: center right;
}

.section-two .four {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    background-image: url('/imagens/Quarto1.png');
}

.section-two .five {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
    overflow-x: hidden;
    background-image: url('/imagens/Quarto2.png');
}

.section-two .five::after{
    position: absolute;
    content: '';
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    z-index: 3;
}

/* section-two - five - gradient */


.section-two .six {
    min-width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 2;
    background-image: url('/imagens/Quarto3.png');
}

/* section-two - six - gradient */

.section-two .six::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 1));
    z-index: 3;
}


/* Walking */

.section-two .walking {
    position: absolute;
    width: 700px;
    bottom: 0px;
}

/* Styling every Luisa */

.section-two .luisa1 {
    z-index: 6;
}

.section-two .luisa2 {
    z-index: 5;
}

.section-two .luisa3 {
    z-index: 4;
}

.section-two .luisa4 {
    z-index: 3;
}

.section-two .luisa5 {
    z-index: 2;
}

.section-two .luisa6 {
    z-index: 1;
    opacity: 0;
}


/* Section three - Wall scroll */

.section-three {
    height: 5000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-three .left {
    height: 5000px;
    width: 100%;
    background-color: rgb(131, 131, 131);
}

.section-three .right {
    height: 5000px;
    width: 100%;
    background-color: rgb(131, 131, 131);
    background-image: url('/imagens/RuaR.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.section-three .gif-container {
    background-color: rgb(189, 189, 189);
    display: flex;
    /* Center bottom */
    justify-content: center;
    align-items: flex-end;
    background-image: url('/imagens/Calcada2.png');
    background-repeat: no-repeat;
    background-position: center center;
}

.section-three .gif {
    position: sticky;
    bottom: 10px;
    padding: 0 220px;
}

/* Section Four, horizontal scroll */

.section-four {
    height: calc(100vh * 5);
    background-color: orange;
    position: relative;
    overflow-x: hidden;
}

.section-four .horizontal-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    overflow-x: visible;
    position: relative;
    z-index: 0;
}

.section-four .one {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(167, 15, 15);
    position: relative;
    z-index: 6;
    overflow-x: hidden;
}

.section-four .two {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(10, 80, 10);
    position: relative;
    z-index: 5;
    overflow-x: hidden;
}

.section-four .three {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(151, 151, 12);
    position: relative;
    z-index: 4;
    overflow-x: hidden;
}

.section-four .four {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(11, 11, 109);
    position: relative;
    z-index: 3;
    overflow-x: hidden;
}

.section-four .five {
    min-width: 100vw;
    height: 100vh;
    background-color: rgb(209, 48, 169);
    position: relative;
    z-index: 2;
    overflow-x: hidden;
}

/* Walking */

.section-four .walking {
    position: absolute;
    width: 700px;
    bottom: 0px;
}

/* Styling every Luisa */

.section-four .luisa1 {
    z-index: 6;
}

.section-four .luisa2 {
    z-index: 5;
}

.section-four .luisa3 {
    z-index: 4;
}

.section-four .luisa4 {
    z-index: 3;
}

/* Section five - Wall scroll */

.section-five {
    height: 3000px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.section-five .gif-container {
    background-color: rgb(104, 44, 94);
    height: 100%;
    width: 100%;
    /* Center bottom */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.section-five svg {
    position: absolute;
    width: 100%;
    height: 3000px;
    top: 100px;
    left: 0;
}

/* --------------------- Walls between transitions ----------------------- */

.section-two .right-wall {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: black;
    z-index: 10;
}

.section-two .left-wall {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 60px;
    background-color: black;
    z-index: 10;
}

.section-two .six .left-wall {
    position: absolute;
    left: -15px;
    top: 0;
    height: 100%;
    width: 30px;
    background-color: black;
    border-radius: 100%;
    z-index: 10;
}